
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#" routerLink="/">Softray TM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/user-management">User management</a>
      </li>
  </ul>

  </div>
</nav>

<main role="main" class="container" style="padding-top:70px">
  <router-outlet></router-outlet>
</main>